 <!DOCTYPE HTML>
  <html>
  <head>
  <title>Audio</title>
  </head>
  <body>

    <script>
  function play(){
       var audio = document.getElementById("audio");
         var audio = document.getElementById("audio1");
           var audio = document.getElementById("audio2");
        var audio = document.getElementById("audio3");
       audio.play();
                 }
   </script>

<input type="button" value="PLAY"  onclick="play()">
    <input type="button" value="PLAY"  onclick="play()">
    <input type="button" value="PLAY"  onclick="play()">
    <input type="button" value="PLAY"  onclick="play()">

<audio id="audio" src="Siraa.mp3" ></audio>
  <audio id="audio1" src="Siraa.mp3" ></audio>
  <audio id="audio2" src="Siraa.mp3" ></audio>
  <audio id="audio3" src="Siraa.mp3" ></audio>
 </body>
 </html>